.modal-holder {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;

  transition: opacity .4s;

  z-index: 99997;

  width: 0%;
  overflow: hidden;
}
.modal-holder .modal-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: #000;

  opacity: .5;
}
.modal-holder .the-modal {
  background: #fff;
  border-radius: 10px;
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 10%;
  position: relative;

  z-index: 9999;
}
.modal-holder .btn-close {
  float: right;
  margin-top: -40px;
  margin-right: -40px;
  background: #000;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
}


.modal-holder:target,
body.show-modal .modal-holder {
  /*display: block;*/
  opacity: 1;
  width: 100%;
}



.header-nav {
  background: #333;
  height: 40px;
}
.header-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
